@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
    --primary-color: linear-gradient(135deg, #b3e2ff 10%, #0a1861 100%);
    --secondary-color: #0a1861;
    --tertiary-color: #e9e7e7;
}


/*adding ideo background to be more interactive*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.search-box {
    text-align: center;
    border: solid 40px white;
    background-color: whitesmoke;
    height: 500px;
    color: white;
}

.container {
    /* border: solid whitesmoke; */
    margin-top: 40px;
    text-align: center;
    color: white;
}

.footer {
    padding: 30px;
}

.navbar-menu {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    /*opacity: 0.2;*/
    top: 0;
    background-position: 80%;
    background-attachment: fixed;
    background: var(--tertiary-color);
    background-color: var(--tertiary-color);
    /*background-image: url(../image/background.PNG);*/
    color: white;
}

.navbar-brand {
    background-color: var(--primary-color)
}

.content ul {
    margin-left: 0;
}

.city-list {
    height: 40px;
}

.city-title {
    margin: 30px 30px 0;
    color:white
}

.input {
    width: 300px;
}

#map {
    height: 400px;
    width: 100%;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 40px;
    margin-top: 10px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.heading {
    text-align: center;
    margin-top: 60px;
    color: white;
}

.content h3, .content h2, .container h4, #statistics{
    color:white;
    z-index: -1;
}

.content:last-child {
    margin-top: 100px;
}

.container:last-child {
    margin-top: 50px;
}

.scores {
    padding: 5% 5% 0;
    height: 300px;
}

#walkScore,
#bikeScore,
#transitScore {
    font-size: 3rem;
    font-weight: 900;
}