

.search-box {
    text-align: center;
    border: solid 40px white;
    padding: 50px 50px;
    margin-top: 20px;
    background-color: whitesmoke;
    
}

.p1 {
    text-align: center;
}

.container {
        border: solid whitesmoke;
        margin-top: 40px;
        text-align: center;
        
    
}


.footer {
    padding: 30px;
}

.navbar-menu {
    background-color: lightgoldenrodyellow;
}

.navbar-brand {
    background-color: lightgoldenrodyellow;
}